node_modules
*.log
*.map
*.txt
*.tgz
*~
csv_test_cache
cpp*
test.js
ntest.js
ntest.py
ntest_php_dir
pack.sh
update-web.sh
go.sh
website
__pycache__
build
daff_java
daff_php
daff_py
daff_rb
release
*.gem
*_bin
dist
lib/lib
publish
daff.py
daff/__init__.py
lib/daff.rb
ntest_java_dir
ntestdotrb
*.sqlite
.haxelib
