#pane-collection { 
  width: 100%;
  table-layout: fixed;
}

#table-pane { 
  vertical-align:top; 
  width: 45%;              
}

#result-pane { 
  vertical-align:top; 
  width: 45%;
  padding-left: 20px;
}

#pane-show { 
  overflow: auto;
}